h2 {
    margin: 20px;
}

.formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin-left: 20vw;
    margin-right: 20vw;
}

.formulaire>* {
    margin: 5px;
}

.formulaire>button {
    align-self: flex-end;
}